.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  margin: 10px;
}

.image {
  height: 60px;
  width: 150px;
}

.hart {
  height: 50px;
  width: 80px;
}

/* hero section */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.p-1 {
  height: 20px;
  width: 150px;
}

.p-2 {
  height: 20px;
  width: 80px;
}

/* product grid */
.products-grid {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
}

.product {
  height: 200px;
}

@media (min-width: 768px) {
  .nav {
    gap: 20px;
  }

  .search {
    height: 30px;
    flex-grow: 1;
  }

  .return-orders {
    height: 40px;
    width: 100px;
  }

  .p-1 {
    height: 20px;
    width: 250px;
  }

  .p-2 {
    height: 20px;
    width: 180px;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.skeleton {
  background-color: #ddd;
  border-radius: 10px;

  background: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 50%, #e5e7eb 75%);
  background-size: 200% 100%;
  animation: load 1.5s linear infinite;
}

@keyframes load {
  from {
    background-position: 200%;
  }

  to {
    background-position: -200%;
  }
}
